<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liga.medical.personservice.core.repository.ContactRepository">

    <resultMap id="contactEntity" type="liga.medical.personservice.core.model.ContactEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findByIds" resultMap="contactEntity">
        <bind name="" value=""/>
        SELECT * FROM contact
        <choose>
            <when test="contactIds.isEmpty()">
                ORDER BY email DESC
                LIMIT 10;
            </when>
            <otherwise>
                WHERE id IN
                <foreach collection='contactIds' item='id' open='(' separator=',' close=')'>
                    #{id, jdbcType=BIGINT}
                </foreach>
            </otherwise>
        </choose>
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO contact (phone_number, email, profile_link) VALUES
        <foreach collection="contactList" item="contact" separator=",">
            (#{contact.phoneNumber, jdbcType=VARCHAR}, #{contact.email, jdbcType=VARCHAR},
            #{contact.profileLink, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateById" parameterType="liga.medical.personservice.core.model.ContactEntity">
        <if test="id != null">
            UPDATE contact SET
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="profileLink != null">
                profileLink = #{profileLink},
            </if>
            WHERE id = #{id};
        </if>
    </update>

    <delete id="deleteById">
        DELETE
        FROM contact
        WHERE id = #{contactId, jdbcType=BIGINT};
    </delete>
</mapper>